.article {

    margin-bottom: 1em;
    height: 500px;

    .cover {
        height: 50%;
    }

    &.two-column {
        .cover {
            height: 100%;
        }

        .content {
            height: 100%;
        }
    }

    .content {
        height: 50%;
        overflow: hidden;

        .read-more {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            margin: 0;
            padding: 50px 0;
            color: white;
            background-image: linear-gradient(to bottom, transparent, white);
        }
    }

    .header {
        font-weight: 900;
        margin: 0.5em 0 0.5em 0
    }

    p {
        font-weight: 400
    }

    .cover {
        background-position-y: center;
        background-position-x: center;
        background-size: cover;
    }


}