.App {
  font-family: 'Lato', sans-serif;
  margin-top: 50px;
}

.article {
  margin-bottom: 1em;
  height: 500px;
}

.article .cover {
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
}

.article.vertical .cover {
  height: 50%;
  
}

.article.horizontal .cover {
  height: 100%;
}

.article .header {
  font-weight: 900;
  margin: 0.5em 0 0.5em 0
}

.article p {
  font-weight: 400
}

.article.horizontal .content {
  max-height: 100%;
  overflow: hidden;
}

.article.vertical .content {
  max-height: 50%;
  overflow: hidden;
}

.article .content .read-more {
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; padding: 50px 0; 
  background-image: linear-gradient(to bottom, transparent, white);
}
