<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Solution - Frontend Developer Assessment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <main>

        <section id="app" v-cloak>
            <menu class="controls">
                <button class="btn active" @click="setFilter($event, 'all')">All</button>
                <button class="btn" @click="setFilter($event, 'listings')">Listings</button>
                <button class="btn" @click="setFilter($event, 'events')">Events</button>
                <button class="btn" @click="setFilter($event, 'offers')">Offers</button>
            </menu>

            <div class="articles-list">
                <article class="article" v-for="{ title, description, weburl, mediaurl } in items">
                    <div class="text-container">
                        <h3 class="title">{{title}}</h3>
                        <p class="description">
                            {{description}}
                        </p>
                        <a class="link" :href="weburl" :title="title" v-if="weburl">Read More</a>
                    </div>
                    <div class="image-container">
                        <img class="image" :src="mediaurl" @error="getPlaceholderImage" :alt="title" />
                    </div>
                </article>
            </div>
        </section>
    </main>

    <script src="main.js"></script>
</body>
</html>