html {
    box-sizing: border-box;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

*, *::before, *::after { box-sizing: inherit; }

body {
    margin: 0;
    padding: 30px 0;
    font-size: 1rem;
    line-height: 1.25;
}

h3 {
    margin-top: 0;
    margin-bottom: .75rem;
}

p {
    margin-top: 0;
    margin-bottom: .75rem;
}

img { max-width: 100%; }

.controls,
.articles-list {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.controls { margin-bottom: 30px; }

.controls .btn {
    margin-bottom: 15px;
    padding: 10px 20px;
    border-radius: 4px;
    border: 2px solid #fff;
    background-color: #e8e8e8;
}

.controls .btn + .btn { margin-left: 5px; }

.controls .btn:hover {
    background-color: #d9d9d9;
}

.controls .btn.active {
    color: #fff;
    box-shadow: 0px 0px 0px 2px rebeccapurple;
    background-color: rebeccapurple;
}

.articles-list .article {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.articles-list .article .image-container {
    flex: 1;
    order: 1;
    padding-bottom: 15px;
}
.articles-list .article .text-container {
    flex: 1;
    order: 2;
    max-height: 200px;
}

@media (min-width: 641px) {
    .articles-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    .articles-list .article { padding-bottom: 0; }
}

@media (min-width: 1025px) {
    .articles-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 500px;
        grid-auto-rows: 500px;
        grid-gap: 30px;
    }

    .articles-list .article {
        display: grid;
        grid-template-rows: 300px 200px;
        grid-gap: 15px;
    }

    .articles-list .article:nth-child(6n + 1) { grid-column: span 2; }
    .articles-list .article:nth-child(6n) {
        grid-column: span 2;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 500px;
    }

    .articles-list .article .image-container {
        grid-row: 1;
        position: relative;
        padding-bottom: 0;
        width: 100%;
        height: 100%;
    }

    .articles-list .article:nth-child(6n) .image-container {
        padding-bottom: 0;
        grid-column: 1;
    }

    .articles-list .article .text-container { max-height: none; }
}

.articles-list .article .image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.articles-list .article .text-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.articles-list .article .text-container::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, #fff 100%);
}

.articles-list .article .link {
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: 15px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    background-color: #f00;
    opacity: 0;
    transform: translate(-50%, calc(100% + 15px));
    transition: transform 0.1s, opacity 0.1s;
}

.articles-list .article .link:hover { background-color: #c00; }

@media (min-width: 1025px) {
    .articles-list .article:hover .link {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}
